.errorBoundaryMain {
    height: 100vh;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorBoundaryContainer {
    width: 45%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
}

.errorBoundaryImg {
    width: 45%;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
}

.errorImg {
    width: 95%;
}

.reloadBtn {
    height: 30px;
    width: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.reloadBtn:hover {
    border: 1px solid grey;
    background-color: white;
}